# Mac OS
.DS_Store

# Python 
*.pyc 
*.egg-info

# Builds 
build
dist

# VS Code 
.vscode

# Numpy files
*.npy
*.npz

# Abaqus 
*.inp

# VTU and INP files except for the ones in the folder data 
*.vtu
!src/torchfem/data/*.vtu
*.inp
!src/torchfem/data/*.inp