[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "torch-fem"
version = "0.1.0"
authors = [{ name = "Nils Meyer", email = "nils.meyer@uni-a.de" }]
description = "Simple finite element assemblers with torch."
url = "https://github.com/meyer-nils/torch-fem"
readme = "README.md"
license = {file = "LICENSE"}
keywords = ["finite elements", "automatic differentiation"]
requires-python = ">=3.10,<3.12"
classifiers = [
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
]
dependencies = [
    "ipywidgets",
    "ipykernel",
    "matplotlib",
    "meshio",
    "meshzoo",
    "pyvista",
    "scipy",
    "tqdm",
    "torch",
    "trame",
    "trame-vuetify",
    "trame-vtk",
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
torchfem = ["data/*.*"]